@import "./_functions.scss";

$color-rich-black: #060411;
$color-dark-purple: #100C25;
$color-english-violet: #593B5A;
$color-magenta-haze: #A5527F;
$color-beige: #FCFBE6;
$color-rich-black-2: #06091B;
$color-licorice: #0D0615;
$color-rich-black-3: #071E2E;
$color-lavender-blush: #FFF2FC;
$color-electric-blue: #6BFFFF;

$default-border-radius: rem(10);